@{
    ViewBag.Title = "Home Page";
}

<div class="center">
    @if (TempData["success"] != null)
    {
        <h2>@TempData["success"]</h2>
    }
</div>

<div class="row marg-top">
    <div class="col-md-6 panel-body">
        <textarea class="col left-col"></textarea>
    </div>
    <div class="col-md-6 panel panel-default col right-col">

    </div>
</div>