@{
    ViewBag.Title = "Home Page";
}

<div class="center">
    @if (TempData["success"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["success"]</p>
    }
</div>

<div class="messagepop pop">
    <p><label for="body">Message</label><textarea rows="6" name="body" id="body" cols="35"></textarea></p>
</div>

<a href="/contact" id="contact">Contact Us</a>
<span class="tooltip" title="This is my span's tooltip message!">Some text</span>
<span class="bottom" title="" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Tooltip on bottom">Somedsdsdsd</span>
<div class="row marg-top">
    <div class="col-md-6 panel-body">
        <textarea id="input" class="col left-col"></textarea>

        <div id="result">
            <p>Words output</p>
            <div></div>
        </div>
    </div>

    <div class="col-md-6 panel panel-default col right-col">

    </div>
</div>


<script>
    $.fn.slideFadeToggle = function (easing, callback) {
        return this.animate({ opacity: 'toggle', height: 'toggle' }, 'medium', easing, callback);
    }

    function deselect(e) {
        $('.pop').slideFadeToggle(function () {
            e.removeClass('selected');
        });
    }

    $(function () {
        $(".bottom").tooltip({
            placement: "bottom"
        });
        $('#contact').on('mouseenter', function () {
            if ($(this).hasClass('selected')) {
                deselect($(this));
            } else {
                $(this).addClass('selected');
                $('.pop').slideFadeToggle();
            }
            return false;
        });

        $('.messagepop').on('mouseleave', function () {
            deselect($('#contact'));
            return false;
        });
    });



    //$(document).ready(function () {
    //    //comment...easy
    //    $('textarea#input').bind('blur keyup', function () {
    //        //comment
    //        $('#result div').text($('textarea#input').val());
    //        $('#result div')
    //            .html('<span>' + $('#result div')
    //                .html().replace(/( |, |\. )/g, '</span>$1<span>').replace(/\n/g, '</span><br /><br /><span>') + '</span>')

    //        $('span').hover(
    //        function () { $(this).css('background-color', '#ffff66').text() },
    //        function () { $(this).css('background-color', ''); });

    //    });/* /.bind */
    //});

    $(document).ready(function () {
        $('textarea#input').bind('blur keyup', function () {
            $('#result div').text($('textarea#input').val());
            editTxt('#result div');
            $('span').on('mouseover', function () {
        $(this).addClass('hlight');
    });
    $('span').on('mouseout', function() {
        $(this).removeClass('hlight');
    });
    });

    function editTxt(selector) {
        $(function() {
            var newHtml = '';
            var words = $(selector).html().split(' ');
            for (i = 0; i < words.length; i++) {
                if(words[i].length>=4)
                    newHtml += '<span class="tooltip" title="This is my spans tooltip message!">' + words[i] + '</span> ';
                else newHtml +=  ' '+ words[i] + ' ';
            }
            $(selector).html(newHtml);
        });
    }
    });

</script>