@{
    ViewBag.Title = "Home Page";
}

<div>
    @if (TempData["ss"] != null)
    {
        <h1>@TempData["success"]</h1>
    }
</div>

<div class="row marg-top">
    <div class="col-md-6 panel-body">
        <textarea class="col left-col"></textarea>
    </div>
    <div class="col-md-6 panel panel-default col right-col">

    </div>
</div>