body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.col {
    margin:0px;
    width:510px;
    height:680px;
}

.right-col {
    margin-top:14px;
}


.left-col {
    resize:none;
}

.lbl-sgn-in {
    margin-top: 14%;
}

h3 {
    color:white;
}

.marg-top {
    margin-top:5%;
}

.usr-name {
    color: white;
    padding: 5px;
}

.center {
    text-align:center;
}